# Ігнорувати всі файли з розширенням .log
*.log

# Ігнорувати всі тимчасові файли з розширенням .tmp
*.tmp

# Ігнорувати папку node_modules
/node_modules

# Ігнорувати файли конфігурації
*.env

# Ігнорувати файли, створені редакторами
*.swp

# Ігнорувати специфічні системні файли
*.DS_Store

# Ігнорувати всі файли в каталозі build/
/build/

# Ігнорувати всі файли в каталозі dist/
/dist/

# Ігнорувати кеші Python
__pycache__/

# Ігнорувати файли класу Java
*.class